<div class="jumbotron text-center section">

	<h1>About AARF</h1>

	<p>Ashland Animal Rescue Fund, Inc., (AARF) is a 501(c) 3 non-profit corporation that strives to reduce the number of euthanized companion pets in local HIGH KILL shelters by networking them to NO KILL rescues and sanctuaries or facilitating local adoptions. AARF is staffed by a group of dedicated volunteers that focus daily to make the life of an animal the best that it can be.</p>

	<p>Our organization also provides medical care for animals in need that would otherwise suffer without proper attention once they are in our program. Unfortunately, limited funds prevent us from monetarily assisting with personal pets.</p>

	<p>Finally, in an effort to reduce the pet overpopulation, we also ensure that all companion animals “networked” to appropriate rescues are altered before going to rescue, unless age or existing medical condition prevents such alteration. Unfortunately, limited funds prevent us from monetarily assisting with personal pets.</p>

	<p>AARF was established January, 2009</p>

</div>

<div class="row section">
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

 <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>

