<div id="dogs"></div>


<!-- <div class="row section" >

	<div class="col-sm-3 col-md-3">
		    <div class="thumbnail">
		      <img src="http://photos.petfinder.com/photos/pets/28152143/1/?bust=1437590931&width=300&-pn.jpg" alt="...">
		      <div class="caption">
		        <h2>Larry</h2>
		        <h4>Husky & Labrador Retriever</h4>
		        <h4>Adult Male Large</h4>
		        <p>Meet Larry! This cute Hound mix is around 2-3 years old and about 40 pounds. Larry came to us from a hoarding situation, so he is still a bit timid around new people. However, he has been coming around lately and is doing quite well with our volunteers. Larry is just learning to trust people, so he'll need a home where the family understands where he came from and room to run. </p>
		        <a href="#" class="btn btn-primary" role="button">More About Larry</a>
		      </div>
		    </div>

		</div>
</div> -->