<h1>EVENTS</h1>
 
	<h2> March 9 </h2>
		<h3>Suppy Drive  WalMart, River Hill Dr. Ashland , 11:00-5:00</h3>

	<h2> April 16 </h2>
		<h3> Annual Rummage Sale (Time & Location TBA) & Vendor Extravaganza
		Donations are greatly appreciated prior to our sale.  All donations are tax deductible.  Please email ashlandanimalresucefund@gmail.com if you would like to assist with donating items to our sale.</h3>
	 
	<h2> April 29 </h2>
		<h3>Annual Spay-ghetti Dinner & Silent Auction
		Ashland Transportation Center , 6:00-9:00pm
		Tickets - $10 </h3>

	<h2> May 21 </h2>
		<h3> Supply Drive , WalMart, River Hill Dr. , Ashland 11:00-5:00 </h3>

	<h2> October 8 </h2>
		<h3> (Details to follow. An event YOU won’t want to miss!!)</h3>

	<h2> Nov. 19 </h2>
		<h3> Annual Howliday Auction – KY Highlands Museum 6:00-10:00 pm (details to follow) </h3>
	 