<h1>Programs</h1>

<h2> Love On A Leash </h2>

<p> Ashland Animal Rescue Fund is excited to announce our new "Love on a Leash"
program. AARF animals, along with a dedicated team of volunteers visit nursing home
and active day treatment facilities. We s schedule regular visits to share a little fur-love.
Therapeutic visitation dogs and cats help people who are away from home due to physical
illness, or are participating in an adult day care program, or have become permanent
residents of nursing homes. These people miss their pets, and a visit from a visitation dog
or cat can </p>

 

<h2> A New Leash on Life – FCI program </h2>

<p>Ashland Animal Rescue Fund (AARF) would like to share the success of our Federal Correctional Institute (FCI) innitiative. The program has been a blessing to our rescue and especially our animals.

 We currently have 6 very driven and hard working gentlemen working at our facility.  The screening process that the FCI staff implemented prior to selection apparently was well structured.  The men do an outstanding job cleaning, organizing, repairing, and working with our kennel animals.  The relationships we see being built daily with our animals are truly amazing.  We have seen great improvements in our facility AND the behavior of many of our current rescues.  For this, we are truly grateful.

 We are currently in a rental facility, located on Rt. 5 in Ashland .  The conditions of the facility are always in constant need of repair and there never seems to be enough help.  The maintenance of the building, especially during winter months is very difficult.  Our director and day shift workers help to layout duties for the inmates and oversee them with no problems. 

 AARF has been so impressed with the willingness, manners, and work ethic of each of the gentlemen.  We hope to continue this partnership for years to come.  Not only has this been beneficial to our organization, but a great opportunity for the inmates selected for this program.</p>